body {
    font-family: 'Roboto', sans-serif;
}

#top_screen {
    width: 80%;
    background-size: 100%;
    display: block;
}

#bottom_screen {
    display: block;
    background: url('img/bottom_screen.png') no-repeat;
    width: 80%;
    height: 400px;
    background-size: 100%;
}

#content {
    width: 80%;
    height: 1000px;
    margin-top: 0;
    background:url('img/background.png');
    padding-top: 5em;
}

.blue_box {
    background: #005997;
}

.left_menu {
    background: #0073BE;
}

#mail_box {
    margin-left: 3em;
    display: block;
    width: 620px;
    height: 860px;
    border-radius: 1em;
}

#mail_menu {
    display: inline-block;
    height: 853px;
    width: 100px;
    border-color: #0073BE;
    border-style: solid;
    border-radius: 1em;
    background: url('img/bgmailmenu.png');
    float:left;
}

#mail_content {
    display:inline-block;
    width: 500px;
    height: 860px;
}

#mail_icon {
    margin-top: 3em;
    margin-left: 3em;
    transform: scale(2);
}

#mail_title {
    color: white;
    font-size: 33px;
    letter-spacing: 1px;
    padding-left: 1em;
    display: inline-block;
}

#list_mail {
    color:white;
    list-style: none;
    
}

.mail_name {
    display: inline-block;
    font-weight: 100;
    font-size: 24px;
}

.time {
    display: inline-block;
    padding-left: 7em;
    font-size: 24px;
    font-weight: 80;
}

.subtitle {
    float: left;
    display: block;
    margin-top: -1em;
    font-weight: lighter;
}

.mail_row {
    height: 138px;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#time1 {
    padding-left: 7.8em;
}

#time2 {
    padding-left: 7.4em;
}

#time3 {
    padding-left: 8.6em;
}

#time4 {
    padding-left: 9.5em;
}

#time5 {
    padding-left: 9em;
}

/****************************/

#open_content {
    background: url('img/bgmailopen.png');
    width: 80%;
    height: 1000px;
    margin-top: 0;
    padding-top: 5em;
    color: white;
}

#mail {
    width: 420px;
    height: 600px;
    margin-top: 3em;
    margin-left: 6em;
    border-radius: 1em;
    padding: 2em 4em;
}

#sender {
    font-size: 32px;
    display: inline-block;
    height: 6px;
}

#time_received {
    margin-bottom: 30px;
    font-size: 30px;
    display: inline-block;
}

#sub-title {
    display: inherit;
}

#mail_body {
    margin-top: 3em;
    font-size: 24px;
}

/*****************************/
/***** PHONE ***/

#phone_box {
    margin-left: 3em;
    display: inline-block;
    width: 310px;
    height: 430px;
    border-radius: 1em;
    float:left;
}

#phone_menu {
    display: inline-block;
    height: 423px;
    width: 50px;
    border-color: #0073BE;
    border-style: solid;
    border-radius: 1em;
    background: url('img/bgminimenu.png') no-repeat;
    float:left;
}

#phone_content {
    padding: 1em;
    display:inline-block;
    width: 200px;
    height: 860px;
    font-size: 14px;
    color: white;
}

#phone_title {
    font-size: 19px;
    color: white;
    display: inline-block;
    margin-left: 1em;
}

#thomaspic {
    margin-top: -2em;
}

.phone_name {
    font-size: 22px;
    margin-left: 1em;
    margin-top: -1em;
}

#phone_icon {
    transform: scale(1.5);
}

#phonetime {
    font-size: 16px;
    margin-left: 5.5em;
}

/**********************************/
/****** NOTES *******/

#notes_box {
    margin-left: 3em;
    display: inline-block;
    width: 310px;
    height: 430px;
    border-radius: 1em;
}

#notes_menu {
    display: inline-block;
    height: 423px;
    width: 50px;
    border-color: #0073BE;
    border-style: solid;
    border-radius: 1em;
    background: url('img/bgminimenu.png') no-repeat;
    float:left;
}

#notes_content {
    padding: 1em;
    display:inline-block;
    width: 200px;
    height: 860px;
    font-size: 14px;
    color: white;
}

#notes_title {
    font-size: 19px;
    color: white;
    display: inline-block;
    margin-left: 1em;
}

.notes_name {
    font-size: 22px;
    margin-left: 1em;
    margin-top: -1em;
}

#notes_icon {
    transform: scale(0.8);
    float:left;
}

#notestime {
    font-size: 16px;
    margin-left: 5.5em;
}

#notes_list {
    list-style: none;
    margin-left: -2em;
    font-size: 16px;
}

/**********************************/
/****** map *******/

#map_box {
    margin-top: 3em;
    margin-left: 3em;
    display: inline-block;
    width: 310px;
    height: 430px;
    border-radius: 1em;
}

#map_menu {
    display: inline-block;
    height: 423px;
    width: 50px;
    border-color: #0073BE;
    border-style: solid;
    border-radius: 1em;
    background: url('img/bgminimenu.png') no-repeat;
    float:left;
}

#map_content {
    padding: 1em;
    display:inline-block;
    width: 200px;
    height: 860px;
    font-size: 14px;
    color: white;
}

#map_title {
    font-size: 19px;
    color: white;
    display: inline-block;
    margin-left: 1em;
}

.map_name {
    font-size: 22px;
    margin-left: 1em;
    margin-top: -1em;
}

#map_icon {
    transform: scale(0.8);
    float:left;
}

#maptime {
    font-size: 16px;
    margin-left: 5.5em;
}

#map_list {
    list-style: none;
    margin-left: -2em;
    font-size: 16px;
}

#map_img {
    display:block;
    margin-top: 5em;
    width: 110%; 
    float: left;
}

/**********************************/
/****** favoris *******/

#fav_box {
    margin-top: 3em;
    margin-left: 3em;
    display: inline-block;
    width: 310px;
    height: 430px;
    border-radius: 1em;
}

#fav_menu {
    display: inline-block;
    height: 423px;
    width: 50px;
    border-color: #0073BE;
    border-style: solid;
    border-radius: 1em;
    background: url('img/bgminimenu.png') no-repeat;
    float:left;
}

#fav_content {
    padding: 1em;
    display:inline-block;
    width: 200px;
    height: 860px;
    font-size: 14px;
    color: white;
}

#fav_title {
    font-size: 19px;
    color: white;
    display: inline-block;
    margin-left: 1em;
}

.fav_name {
    font-size: 22px;
    margin-left: 1em;
    margin-top: -1em;
}

#fav_icon {
    transform: scale(1.1);
    float:left;
    margin-top: 0.5em;
}

#favtime {
    font-size: 16px;
    margin-left: 5.5em;
}

#fav_list {
    list-style: none;
    margin-left: -2em;
    font-size: 16px;
}

#fav_img {
    display:block;
    margin-top: 5em;
    width: 110%; 
    float: left;
}